body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}
.sec{
    margin: 3% 11% 3%;
    
}
#stay-focus{
    font-size: 50px;
    border-left: 5px solid red;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-top: 110px;
    font-family: 'Courgette', cursive;
    font-family: 'Waterfall', cursive;
    font-size: 85px;
}
.mission-color{
    color: rgb(243, 174, 125);
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10px;
    
}
.half-width p{
    margin-bottom: 30px;
    margin-top: 30px;
}
.half-width img{
    width:80%;
}
.half-width a{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
}
.third-width{
    width: 33.33%;
    padding: 0px 2%;
    border-radius: 1em;
    margin: 1.5%;
    height: 100%;
}
#mission{
    background-color: rgb(243, 250, 252);
}
#vission{
    background-color: rgb(250, 240, 252);
}
#goal{
    background-color: rgb(244, 255, 231);
}
.mission-icon{
    width: 40%;
    padding: 4% 0% 0% 3%;
}
#my-mission{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.dev-photo{
    width: 40%;
}
.dev-info{
    width: 60%;
}


footer{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
footer h1{
    font-family: 'Waterfall', cursive;
    font-size: 50px;
    font-style: italic;
}
footer p{
    font-size: 20px;
    color: white;
}

